.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.container input {
  width: 250px;
  height: 40px;
  background: #eee;
  border: 1px solid gray;
}
